body {
    margin: 0;
    padding: 0;
    background-color: #010101;
    color: #F2DAC4;
    font-family: 'Trebuchet MS', Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    display: flex;
}

.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card {
    width: 200px;
    height: 120px;
    border-radius: 20px;
    background-color: #732C12;
    border: solid #F2DAC4 5px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-size: 100px;
    cursor: pointer;
}

.correct-answer {
    background-color: green;
}

.wrong-answer {
    background-color: red;
}

.true-button {
    background-color: green;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height: 25px;
}

.false-button {
    background-color: red;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    height: 25px;
}

button {
    margin: 5px;
}